@import "tailwindcss";

.shadow-effect {
  fill: rgba(54, 52, 52, 0.5);
  filter: blur(60px);
}

.search-box {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}

.video-class {
  aspect-ratio: 50/30;
  box-shadow: 2px 5px 30px 0 rgba(0, 0, 0, 0.15);
}

.footer-logo {
  aspect-ratio: 9/7;
}

.about1-img {
  aspect-ratio: 167/143;
}

.media-shadow {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
}

.ceo-img {
  aspect-ratio: 3/4;
}

.modal {
  aspect-ratio: 157/172;
}